<%- include('../partials/header') %> 
<main class="main">
  <div class="container">
    <div class="row">
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <section class="section" id="section">
            <% data.forEach(directors => { %>
              <div class="card" style="width: 18rem;">
                <img src="<%= directors.ImagePath %>" alt="picture of director"/>
                <div class="card-body">
                  <%= directors.fName %><%= directors.lName %>
                </div>
              </div>
            <% }) %>
          </section>
        </div>
      </div>
      </div>
    </div>
  </div>
</

 <%- include('../partials/footer') %>  