<%- include('../partials/header') %> 
  <main class="main" id="main">
    <section class="programs">
      <div class="container">
        <div class="row row-cols-1 row-col-md-3 row-col-lg-4 g-4" id="programRow">
          <div class="col">
             <% data.forEach(programs => { %>
              <div class="card" style="width: 18rem;">
                <img src="<%= programs.posterURL %>" class="card-img-top" alt="program poster">
                  <div class="card-body">
                    <h3 class="card-title text-center"><%= programs.title %></h3>
                      <p class="card-text"><%= programs.description %></p>                                   
                  </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('../partials/footer') %>  
  